<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/login.css" th:href="@{/css/login.css}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>KeyRegistre</title>
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
    <div class = "container">
        <div class="wrapper">
            <form action="#" th:action="@{/key/regist}" th:object="${keyForm}" method="post" class="form-signin">       
                <h3 class="form-signin-heading">ApiKey SecreKey を登録してください。</h3>
                <hr class="colorgraph"><br>
              
                <input type="text" class="form-control" placeholder="apiKey" required="" autofocus="" th:field="*{apiKey}"/>
                <input type="password" class="form-control" placeholder="secretKey" required="" id="secretKey" name="secretKey" th:value="*{secretKey}"/>
             
                <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">登録</button>            
            </form>         
        </div>
    </div>
</body>
</html>